<html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'style404.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Page not found</title>
</head>
<body>
    <div class="container">
    <div class="error-wrapper">
        <div class="man-icon"></div>
        <h3 class="title">404</h3>
        <p class="info">Oh! Page not found</p>
        <a href="/" class="btn btn-primary btn-round">Go to homepage</a>
    </div>
</div>
</body>
</html>