<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addstd" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Name</label>
            <input name="stdname" class="form-control"  aria-describedby="emailHelp" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name='stdmail' class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <label>Pass</label>
            <input name='stdpass' class="form-control" placeholder="PAss">
        </div>
        <button name="add" value="add" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>