<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Project</title>
  </head>
<body>
    <form action="createc" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Class Name</label>
            <input name="clsname" class="form-control"  aria-describedby="emailHelp" placeholder="Class Name">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input name='desc' class="form-control" placeholder="Description">
        </div>
        <button name="add" value="add" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>