<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  
    <link rel="stylesheet" href="people.css">
    <title>people</title>
</head>
<body >

    <section>
        <div class="container mt-0 navbar justify-content-center fixed-top navbar-light bg-light ">
            <ul class="nav twonav ">
              <li class="nav-item ">
                <a class="nav-link navbar-brand " style="padding-right: 50px; color: black;" href="#">People</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "style="padding-left :50px; color:black;" href="#"> Stream</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "style="padding-left :50px; color:black;" href="#">Class work</a>
              </li>
            </ul>
         </div>
    
    </section>
    <div class="container p-5 mt-4  shadow-lg text-white text-left clmain">
        <div class="clname">
           <h1>Class Name</h1>
           <p>Date</p> 
        </div>
       </div>
    
       <section class="container arange">
          <div>
            <h2 style="float: left;">Teachers</h2>
           <button  type="button"  style="float: right;" class=" btn btn-light addicon">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
           </button>
          </div>
       </section><br><br>
       <hr  class="container arange">

       <div  class="container arange added">
        <span> <img   class= " admin rounded-circle" src="https://visualpharm.com/assets/314/Admin-595b40b65ba036ed117d36fe.svg" alt="">  Teacher</span>
       </div>
       <div  class="container arange added">
        <span> <img   class= " admin rounded-circle" src="https://visualpharm.com/assets/314/Admin-595b40b65ba036ed117d36fe.svg" alt="">  Teacher</span>
       </div>

       <br><br><br>

       <section class="container arange">
        <div>
          <h2 style="float: left;">Students</h2>
          <button  type="button"  style="float: right;" class=" btn btn-light addicon">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
           </button>
        </div>
     </section><br><br>
     <hr  class="container arange">

     <div  class="container arange added">
        <span> <img   class= " admin rounded-circle" src="https://visualpharm.com/assets/314/Admin-595b40b65ba036ed117d36fe.svg" alt="">  student</span>
       </div>
       <div  class="container arange added">
        <span> <img   class= " admin rounded-circle" src="https://visualpharm.com/assets/314/Admin-595b40b65ba036ed117d36fe.svg" alt="">  student</span>
       </div>




       <br><br>

       
   
</body>
</html>