<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in & Sign up Form</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <main>
      {% for error in messages %}
        <div id="message2" class="alert alert-warning alert-dismissible "  style="text-align: center;">
            <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{error}}</strong>
        </div>
      {% endfor %}
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="\login"  method="POST" autocomplete="off" class="sign-in-form">
              {% csrf_token %}
              <div class="logo">
                <img src="{% static '/img/logo.png' %}" alt="easyclass" />
                <h4>facileclass</h4>
              </div>

              <div class="heading">
                <h2>Welcome Back</h2>
                <!--
                <h6>Contact us</h6>
                <a href="#" class="toggle">Click here</a>
                -->
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="email"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    name="UL_email"
                    id="exampleInputEmail1"
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    name="UL_pass"
                    id="exampleInputPassword1"
                  />
                  <label>Password</label>
                </div>

                <input type="submit" name="signin" value="signin" class="sign-btn" />

                <p class="text">
                  Forgotten your password or you login datails?
                  <a href="#">Get help</a> signing in
                </p>
              </div>
            </form>

            <form action="index.html" autocomplete="off" class="sign-up-form">
              <div class="logo">
                <img src="{% static '/img/logo.png' %}" alt="easyclass" />
                <h4>easyclass</h4>
              </div>

              <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Sign in</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Email</label>
                </div>


                <input type="submit" value="Submit" class="sign-btn" />

                <p class="text">
                  By submitting, I agree to the
                  <a href="#">Terms of Services</a> and
                  <a href="#">Privacy Policy</a>
                </p>
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="{% static '/img/image1.png' %}" class="image img-1 show" alt="" />
              <img src="{% static '/img/image2.png' %}" class="image img-2" alt="" />
              <img src="{% static '/img/image3.png' %}" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Lorem ipsum dolor</h2>
                  <h2>sit amet, consectetur adipiscing</h2>
                  <h2>elit, sed do eiusmod tempor</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
